[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyserial="==3.4"
docopt = "==0.6.2"
adafruit-ampy = "==1.0.5"

[requires]
python_version = "3.7"
